
/*Right-Aside*/
.right-aside-content {
  padding-right: 20px;
  height: 800px;
  overflow: auto;
  border-left: 1px solid #dcdfe6;
}

.right-aside-content ul,.right-aside-content li {
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
}

.right-li{
  display: flex;
  justify-content: right;
}

